<div class="form-group m-2">
    <%= form_with(mode: @post, local: true) do |form| %>
        <% if @post.errors.present? %>
            <div class="form-errors">
                <%= @post.errors.full_messages.join(",") %>
            </div>
        <% end %>

        <div class="card-body m-2">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="card-body m-2">
            <%= form.label :body %>
            <%= form.text_area :body, cols: 50, rows: 10, class: "form-control" %>
        </div>

        <div class="btn m-2" >
        
        <%= form.submit "Post", class: "btn btn-primary text-primary bg-light" %>
        </div>
    <% end %>
</div>