<div class="card">
    <div class="card-body">
        <h5 class="card-title m-2">
            <%= @post.title %>
        </h5>
        <p class="card-text text-dark m-2">
            <%= @post.body %>
        </p>
        •
        <small>Posted: <%= time_ago_in_words(@post.created_at) %> ago </small>
        •
        <small>Last Edited: <%= time_ago_in_words(@post.updated_at) %> ago </small>
    </div>
    <div class="card-body">
        <small> <%= link_to("Edit", edit_post_path(@post.id)) %> </small> •
        <small> <%= link_to("Delete", post_path(@post.id), method: :delete, data: { confirm: "Are you sure?" }) %> </small>
    </div>
</div>