<%- include("../partials/header") %>

<div class="card">
    <% for (let cohort of cohorts) { %> 
        <div class="card-body">
            <div class="d-flex">
                <div class="ml-2 mt-2 mr-2 mb-2">

                <% if (cohort.logo_url) { %> 
                <img 
                    src="<%= cohort.logo_url %>" 
                    alt="Cohort Logo" 
                    class="card-img"
                    height="30"
                    width="30"
                >
                <% } %>
                </div>
                <h4 class="card-title ml-2 mt-2 mr-2 mb-2"><%= cohort.name %>
                </h4>
            </div>
            <p class="card-text"><%= cohort.members %></p>
            <a href="/posts/<%= cohort.id %>" 
            class="btn btn-primary mr-2"
            >
            Show Cohort
            </a>


        </div>        
    <% } %>
</div>

<% include("../partials/footer") %>