<%- include("../partials/header") %>

<div class="post-cards">
    <% for (let cohort of cohorts) { %> 
        <div class="card mb-4">
            <a class="card-body d-flex">
                <div>

                <% if (cohort.logo_url) { %> 
                <img 
                    src="<%= cohort.logo_url %>" 
                    alt="Cohort Logo" 
                    class="card-img-top"
                >
                <% } %>
                </div>
                <h5 class="card-title"><%= cohort.name %></h5>
            </a>
            <p class="card-text"><%= cohort.members %></p>
            <a href="/posts/<%= cohort.id %>" 
            class="btn btn-outline-primary mr-2"
            >
            Show Cohort
            </a>
        </div>        
    <% } %>
</div>

<% include("../partials/footer") %>