<%- include("../partials/header") %>

<div class="card mb-4">

    <div class="card-body">
        <h4 class="card-title"><%= cohort.name %></h4>
        <p class="card-text">
            <%= cohort.members %><br>
        </p>

        <div class="card-body">

        <!-- <div>Method</div> -->
        Quantity
        <br>
        <input>
        <br>
        <button type="submit" value="Assign Teams"></button>

        <!--    <form action="/posts/<%= cohort.id %>" method="POST">
                <input type="hidden" name="_method" value="EDIT">
                <input 
                    type="submit" 
                    class="btn btn-outline-primary"
                    value="Edit"
                    >
        </form> -->
        </div>
    
    </div>

</div>

<%- include("../partials/footer") %>